<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halo.demo.mapper.GameExtMapper">

  <select id="getGamesByExample" parameterType="com.halo.demo.model.GameExample"
          resultType="com.halo.demo.model.Game">
    select * from game
    <where>
      <if test="gno!=null">
        gno = #{gno}
      </if>
      <if test="gname!=null">
        and gname = #{gname}
      </if>
      <if test="rank!=null">
        and rank = #{rank}
      </if>
      <if test="winner!=null">
        and winner = #{winner}
      </if>
      <if test="type!=null">
        and type = #{type}
      </if>
    </where>
  </select>
</mapper>